body
{background-color: white;
}


h1 {
	color: pink;
	background: white;
	font-family: 'Rubik Mono One', sans-serif;
	font-size: 80px;
	border: none;
	border-color: none;
	border-radius: 50px;


}


h2 {
	color: Black;
	background-image: url("images/gg.gif");
	font-family: 'Passion One', cursive;
	font-size: 58px;
	border: inset;
	border-color: gold;
	border-radius: 20px;
}


h3 {
	color: Black;
	background-image: url("images/1.gif");
	font-family: 'Anton', sans-serif;
	font-size: 75px;
	border: none;
	border-color: White;
	border-radius: 0px;
}


h4 {
	color: Black;
	background: white;
	font-family:  'DM Serif Display', serif;
	font-size: 50px;
	border: none;
	border-color: White;
	border-radius: 0px;
}


h5 {
	color: Black;
	background: white;
	font-family:  'Caudex', serif;
	font-size: 50px;
	border: none;
	border-color: White;
	border-radius: 0px;
}


h6 {
	color: Black;
	background: white;
	font-family:  'Raleway', sans-serif;
	font-size: 30px;
	border: none;
	border-color: White;
	border-radius: 0px;
}


p {
	color: black;
	background: floralwhite;
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 30px;
	border: double;
	border-color: white;
	border-radius: 17px;
}



a:link, a:visited
		{
		background-color: wheat;
		color: black;
		padding: 10px;
		font-size: 20px;
		font-family: 'DM Serif Display', serif;
		text-decoration: none;
		display: inline-block;
		border: none;
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
		border-top-right-radius: 0px;

		}
		
		a:hover
		{
			color: #FF1493;
			background-color: #F5FFFA;
			text-decoration: none;
		}

		a:active
		{
			color: white;
			background-color: white;
			text-decoration: none;
		}

		figure {
    display: inline-block;
    border: 1px dotted gray;
    margin: 20px; /* adjust as needed */
}
figure img {
    vertical-align: top;
}
figure figcaption {
    border: 1px dotted blue;
    text-align: center;
}